.about-container{
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.about-container h1{
    font-size: 2.5rem;
    text-align: center;
}

.about-container .workings-box img{
    max-width: 15rem;
    position: absolute;
    bottom: -5rem;
    right: -3rem;
    opacity: 0.7;
}
.about-container .container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.about-container .workings-box{
    border: 1px solid ;
    height: 10rem;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    padding: 2rem;
    border-radius: 1rem;
}
.about-container .workings-box img.inspect-img{
    max-width: 10rem;
    right: -1rem;
    bottom: -2rem;
}
.about-container .not-absolute.workings-box p, .not-absolute.workings-box h2{
    z-index: 700;
    color: #fff;
}
.about-container .workings-box h2{
    font-size: 1.2rem;
}
.about-container .not-absolute.workings-box{
    background-color: rgba(80, 57, 14, 0.493);
}
.about-container .workings-box .not-absolute{
    position: absolute;
    max-width: 100%;
    left: 0;
    right: 0;
    /* top: -2rem; */
    bottom: 0;
    z-index: -1;
    /* opacity: 0.6; */
}

@media (max-width: 900px) {
    .about-container .workings-box .not-absolute{
        max-width: 30rem;
    }
    .about-container .workings-box img{
        max-width: 15rem;
    }
    .about-container .workings-box img.inspect-img{
        max-width: 12rem;
    }
}